In [12]:
import pandas as pd

# Read the data from the flat file into a Pandas DataFrame
df = pd.read_csv("C:\\Users\\mehfo\\OneDrive\\Desktop\\Global YouTube Statistics.csv", encoding='utf-8')

In [14]:
df.head(100)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,ABP NEWS,37000000,1.310261e+10,People & Blogs,ABP NEWS,301308,India,IN,News,...,400000.0,2012.0,Jun,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
96,97,Maria Clara & JP,37000000,2.418886e+10,People & Blogs,Maria Clara & JP,744,Brazil,BR,Entertainment,...,300000.0,2015.0,Sep,6.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
97,98,Bruno Mars,36700000,1.937816e+10,Music,Bruno Mars,99,United States,US,Music,...,200000.0,2006.0,Sep,19.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
98,99,Maroon 5,36600000,2.255392e+10,Music,Maroon 5,171,United States,US,Music,...,NaN,2006.0,Mar,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
99,100,Ultra Bollywood,36600000,1.565379e+10,Trailers,Ultra Bollywood,9168,India,IN,Entertainment,...,200000.0,2009.0,Oct,21.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [15]:
missing_values = df.isnull().sum()
print(missing_values)

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [16]:
# Drop rows with any missing values
cleaned_df = df.dropna()

# or fill missing values with a specific value
# cleaned_df = df.fillna(0)

In [17]:
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 0

In [19]:
cleaned_df = df.drop_duplicates()

In [23]:
cleaned_df.to_csv("dataset.csv", index=False)

In [24]:
# Assuming 'df' is your DataFrame
df = df[~df.apply(lambda row: row.astype(str).str.contains("Vï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï").any(), axis=1)]

In [25]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

<!-- Cleaned DataFrame going to be finally saved -->

In [37]:
df.to_csv("dataset.csv", index = False)

In [38]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [39]:

# Clean up non-ASCII characters in 'Youtuber' column
df['Youtuber'] = df['Youtuber'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))

# Clean up non-ASCII characters in 'Title' column
df['Title'] = df['Title'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))

# Now your DataFrame should be cleaned

In [40]:
df.head(500)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,KIMPRO,17700000,1.920670e+10,NaN,KIMPRO,1646,South Korea,KR,People,...,3200000.0,2017.0,Nov,11.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
496,497,Jane ASMR,17700000,7.387622e+09,NaN,Jane ASMR,1888,South Korea,KR,People,...,NaN,2012.0,Nov,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
497,498,ArianaGrandeVevo,17700000,2.011554e+10,Music,ArianaGrandeVevo,178,United States,US,Music,...,NaN,2010.0,Oct,21.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
498,499,jaanvi patel,17700000,7.912733e+09,People & Blogs,jaanvi patel,512,India,IN,People,...,900000.0,2018.0,Jul,18.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
499,500,tanboy kun,17700000,3.647268e+09,People & Blogs,tanboy kun,739,Indonesia,ID,Entertainment,...,100000.0,2016.0,Oct,27.0,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327

In [41]:
print(df)

     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
1       2              YouTube Movies    170000000  0.000000e+00
2       3                     MrBeast    166000000  2.836884e+10
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
..    ...                         ...          ...           ...
990   991                 Natan por A     12300000  9.029610e+09
991   992    Free Fire India Official     12300000  1.674410e+09
992   993                       Panda     12300000  2.214684e+09
993   994                 RobTopGames     12300000  3.741235e+08
994   995                Make Joke Of     12300000  2.129774e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
1    Film & Animation               youtubemovies        1   United States
2       Entertainment                     MrBeast      741   United States
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
..                ...                         ...      ...             ...
990            Sports                 Natan por A     1200          Brazil
991    People & Blogs    Free Fire India Official     1500           India
992               NaN                 HybridPanda     2452  United Kingdom
993            Gaming                 RobTopGames       39          Sweden
994            Comedy                Make Joke Of       62           India

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
1             US          Games  ...                           NaN
2             US  Entertainment  ...                     8000000.0
3             US      Education  ...                     1000000.0
4             IN  Entertainment  ...                     1000000.0
..           ...            ...  ...                           ...
990           BR  Entertainment  ...                      700000.0
991           IN          Games  ...                      300000.0
992           GB          Games  ...                        1000.0
993           SE          Games  ...                      100000.0
994           IN         Comedy  ...                      100000.0

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
1          2006.0            Mar           5.0
2          2012.0            Feb          20.0
3          2006.0            Sep           1.0
4          2006.0            Sep          20.0
..            ...            ...           ...
990        2017.0            Feb          12.0
991        2018.0            Sep          14.0
992        2006.0            Sep          11.0
993        2012.0            May           9.0
994        2017.0            Aug           1.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
1                                       88.2  3.282395e+08              14.70
2                                       88.2  3.282395e+08              14.70
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
..                                       ...           ...                ...
990                                     51.3  2.125594e+08              12.08
991                                     28.1  1.366418e+09               5.36
992                                     60.0  6.683440e+07               3.85
993                                     67.0  1.028545e+07               6.48
994                                     28.1  1.366418e+09               5.36

     Urban_population   Latitude  Longitude
0         471031528.0  20.593684  78.962880
1         270663028.0  37.090240 -95.712891
2         270663028.0  37.090240 -95.712891
3         270663028.0  37.090240 -95.712891
4         471031528.0  20.593684  78.962880
..                ...        ...        ...
990       183241641.0 -14.235004 -51.925280
991       471031528.0  20.593684  78.962880
992        55908316.0  55.378051  -3.435973
993         9021165.0  60.128161  18.643501
994       471031528.0  20.593684  78.962880

[994 rows x 28 columns]

In [43]:
for _ in df['Youtuber']:
    print(_)

T-Series
YouTube Movies
MrBeast
Cocomelon - Nursery Rhymes
SET India
Music
 Kids Diana Show
PewDiePie
Like Nastya
Vlad and Niki
Zee Music Company
WWE
Gaming
BLACKPINK
Goldmines
Sony SAB
5-Minute Crafts
BANGTANTV
Sports
Justin Bieber
HYBE LABELS
Zee TV
Pinkfong Baby Shark - Kids' Songs & Stories
Canal KondZilla
ChuChu TV Nursery Rhymes & Kids Songs
Shemaroo Filmi Gaane
Colors TV
T-Series Bhakti Sagar
Dude Perfect
Movieclips
Tips Official
El Reino Infantil
Wave Music
Aaj Tak
Sony Music India
EminemMusic
Marshmello
YRF
LooLoo Kids - Nursery Rhymes and Children's Songs
Ed Sheeran
Infobells - Hindi
Taylor Swift
Ariana Grande
BillionSurpriseToys  - Nursery Rhymes & Cartoons
JuegaGerman
Billie Eilish
Get Movies
Shemaroo
Badabun
SonyMusicIndiaVEVO
A4
Bad Bunny
Fernanfloo
Voot Kids
Felipe Neto
Voc
HAR PAL GEO
BRIGHT SIDE
Katy Perry
whinderssonnunes
ABS-CBN Entertainment
Alan Walker
HolaSoyGerman.
Shakira

ARY Digital HD
Speed Records
Masha and The Bear
Like Nastya Show
Rihanna
Ishtar Music
Kimberly Loaiza
Little Baby Bum - Nursery Rhymes & Kids Songs
Luisito Comunica
elrubiusOMG
Toys and Colors
shfa2 -
LUCCAS NETO - LUCCAS TOON
CarryMinati
XXXTENTACION
Super Simple Songs - Kids Songs
Mikecrack
WorkpointOfficial
GR6 EXPLODE
TEDx Talks
shfa
Goldmines Gaane Sune Ansune
One Direction
TheEllenShow
Sony PAL
Daddy Yankee
Vlad v
Like Nastya ESP
 one31
Jkk Entertainment
ABP NEWS
Maria Clara & JP
Bruno Mars
Maroon 5
Ultra Bollywood
PowerKids TV
YouTube
News
Ozuna
MrBeast Gaming
La Granja de Zen
Saregama Music
IndiaTV
T-Series Bollywood Classics
Total Gaming
Markiplier
Ryan's World
Genevieve's Playhouse - Learning Videos for Kids
T-Series Apna Punjab
Techno Gamerz
Geet MP3
J Balvin
Jess No Limit
Jingle Toons
VEGETTA777
Galinha Pintadinha
SSSniperWolf
Desi Music Factory
Selena Gomez
Rajshri
Ch3Thailand
KHANDESHI MOVIES
NoCopyrightSounds
CVS 3D Rhymes & Kids Songs
Ricis Official
BabyBus - Kids Songs and Cartoons
Eros Now Music
BETER B
DisneyMusicVEVO
The Weeknd
WowKidz
KAROL G
Mr Bean
rezendeevil
StarPlus
SMTOWN
GMA  Network
GENIAL
MR. INDIAN HACKER
Worldwide Records Bhojpuri
DONA
Dream
Lucas and Marcus
JustinBieberVEVO
Luis Fonsi
Peppa Pig - Official Channel
YOLO AVENTURAS
The Tonight Show Starring Jimmy Fallon
TheDonato
ImagineDragons
Diana and Roma ESP
Round2hell
Zee News
AboFlah
AH
Trap Nation

Boram Tube Vlog [
Adele
Talking Tom
   | toyoraljanahtv
Frost Diamond
Spinnin' Records
Little Angel: Nursery Rhymes & Kids Songs
jacksepticeye
Shawn Mendes
ashish chanchlani vines
Ultra Records
Popular on YouTube
Maluma
Zhong
Enaldinho
AuronPlay
Shorts Break
infobells - Tamil
Aditya Music India
The Late Late Show with James Corden
Aditya Movies
Masha y el Oso
infobells - Telugu
HUM TV
Shemaroo Movies
Michael Jackson
Drake
Goldmines Dishoom
Sandeep Maheshwari
Bounce Patrol - Kids Songs
toycantando
MrBeast 2
Wiz Khalifa
JYP Entertainment
 Kids Roma Show
DanTDM
Nick Jr.
Crazy XYZ
ToyPuddingTV
Dushyant kukreja
Gulshan Kalra
Brent Rivera
Renato Garcia YT
Beast Reacts
enchufetv
Netflix
Raffy Tulfo in Action
WORLDSTARHIPHOP
Goldmines Bollywood
Alan Chikin Chow
PANDA BOI
BB Ki Vines
D Billions
Junya.
Smosh
1MILLION Dance Studio
NichLmao
Beyonc
Mar
Indosiar
VanossGaming
David Guetta
LosPolinesios
Nicki Minaj
Fede Vigevani
TaylorSwiftVEVO
ZHC
Post Malone
Rans Entertainment
LankyBox
Coldplay
Las Ratitas
WB Kids
ABPLIVE
Chris Brown
The Lallantop
RihannaVEVO
WatchMojo.com
TRANS7 OFFICIAL
Anuel AA
Dan Rhodes
Yuya
America's Got Talent
mujjuu___14
EminemVEVO
Chloe Ting
KatyPerryVEVO
Mark Rober
1theK (
Like Nastya AE
Amit Bhadana
Pen Movies
MrBeast en Espa
shfa show India
Super JoJo - Nursery Rhymes & Kids Songs
Alejo Igoa
Daniel LaBelle
netd m
DJ Snake
Diana and Roma ARA
KSI
Spider Slack
Goldmines Movies
Preston
James Charles
Collins Key
Diana and Roma EN
Venus Entertainment
Troom Troom
Enrique Iglesias
Ninja
FaZe Rug
Mister Max
That Little Puff
NickyJamTV
Juan De Dios Pantoja
Logan Paul
Maya and Mary
Peppa Pig Espa
Jelly
Miss Katy
Tilak
Valentina Pontes ofc
Sesame Street
Happy Lives
Lady Gaga
Akshay Nagwadiya
Wave Music Bhojpuri
GMM GRAMMY OFFICIAL
TED
unknown boy varun
Kids TV - Nursery Rhymes And Baby Songs
Tsuriki Show
Technical Guruji
DrossRotzank
White Hill Music
Ultra Movie Parlour
Alan Becker
toyorbabytv
BabyBus - Canciones Infantiles & Videos para Ni
KL BRO Biju Rithvik
Vania Mania Kids
Like Nastya PRT
Sun TV
Heroindori
The Chainsmokers
mmoshaya
Sia
LeoNata Family
Goldmines Cineplex
Vlad and Niki Arabic
SSundee
Paulo Londra
Smile Family
FGTeeV
Kinder Spielzeug Kanal (Kidibli)
Charlie Puth
Vlad and Niki ESP
Sagawa /
Ben Azelart
Zach Choi ASMR
Topper Guild
Disney Latinoam
Stokes Twins
National Geographic
Dua Lipa
OneDirectionVEVO
Rotana
Netflix India
Sourav Joshi Vlogs
ZAMZAM ELECTRONICS TRADING
DUDU e CAROL
Village Cooking Channel
Eva Bravo Play
Tekashi 6ix9ine
Tlnovelas
SMOL
invictor
YOLO
Sidhu Moose Wala
The Royalty Family
Becky G
Ishaan Ali 11
Infinite
Azhan5star
Dangal TV Channel
Khan GS Research Centre
GMA Public  Affairs
Tasty
Baim Paula
nigahiga
Rafa & Luiz
Lyrical Lemonade
Vlad and Niki IDN
Dr. Vivek Bindra: Motivational Speaker
Fatos Desconhecidos
Brave Wilderness
LIV Crime
Minecraft - Topic
Romeo Santos
Canal Canalha
Kurzgesagt
Yoeslan
5-Minute Crafts DIY
Zach King
tuzelity SHUFFLE
NBA
Deddy Corbuzier
Bizarrap
Avicii
Mnet K-POP
LazarBeam
Ninja Kidz TV
Totoy kids - Portugu
Jake Paul
Linkin Park
Vijay Television
SlivkiShow
Emiway Bantai
Got Talent Global
 - Genevieve's Playhouse
BabyBus - Cerita & Lagu Anak-anak
Ami Rodriguez
Noor Stars
Family GamesTV
Kiddiestv Hindi - Nursery Rhymes & Kids Songs
dednahype
Marta and Rustam
MiawAug
CookieSwirlC
Skrillex
AuthenticGames
Robin Hood Gamer
Pencilmation
7clouds
5-Minute Crafts PLAY
Marvel Entertainment
BuzzFeedVideo
REACT
Vevo
Gordon Ramsay
Pentatonix
Green Gold TV - Official Channel
Gusttavo Lima Oficial
HaerteTest
Crafty Panda
SOMOY TV
JennaMarbles
Troom Troom Es
Official Pink Panther
Britain's Got Talent
SCTV
AS Gaming
Sony AATH
tabii Urdu
DaFuq!?Boom!
Clash of Clans
RKD Studios
DLS News
JukiLop
etvteluguindia
FIFA
Manoj  parihar
Vsauce
Unbox Therapy
shane
Sonotek
Jimmy Kimmel Live
TheOdd1sOut
Goldmines Great Indian Comedy
Lil Nas X

SUPER SLICK SLIME SAM
Wow Kidz Action
Turma da M
Calvin Harris
KBS WORLD TV
HiMan
Masha e o Urso
Little Angel Espa
TED-Ed
Sidemen
Cardi B
Busy Fun Ltd
Farruko

Triggered Insaan
CKN
Ali-A
Shemaroo Comedy
Smile Family Spanish
GRAMMY GOLD OFFICIAL
   | Arab Games Network
Dan-Sa / Daniel Saboya
Marmok
The ACE Family
Like Nastya Vlog
Willie Salim
PDK Films
TheWillyrex
RsiamMusic :
Dhar Mann
shakiraVEVO
Naisa Alifia Yuriza (N.A.Y)
Miley Cyrus
IShowSpeed
Good Mythical Morning
Bobby chourasiya
INCR
Jake Fellman
GEN HALILINTAR
SQUEEZIE
Blippi - Educational Videos for Kids
officialpsy
Ajay Sharma
Manual do Mundo
How Ridiculous
And TV
Sebasti
SonyMusicSouthVEVO
TheGrefg
BeatboxJCOP
David Dobrik
KatieAngel
RobleisIUTU
Lele Pons
Demi Lovato
Like Nastya VNM
Jason Derulo
MGC Playhouse
Zuni and Family
Priyal Kukreja
MSA previously My Story Animated
 KIMPRO
Jane ASMR
ArianaGrandeVevo
jaanvi patel
tanboy kun
Lil Pump
Porta dos Fundos
News 24
Les' Copaque Production
El Payaso Plim Plim
zbing z.
MissaSinfonia
 Liziqi
The Game Theorists
DeGoBooM
JFlaMusic
FactTechz
News18 India
Fun For Kids TV - Hindi Rhymes
IGN
Aphmau
AMARINTV :
 - Al-Remas
Koray Zeynep
Apple
Stubborn Facts
Taarak Mehta Ka Ooltah Chashmah
HowToBasic
PopularMMOs
Marques Brownlee
Anitta
Jason Vlogs
El Reino a Jugar
Willyrex
TheBrianMaps
TRANS TV Official
Liza Koshy
Queen Official
Prajapati News
Gaby and Alex
LuisFonsiVEVO
Pop Chartbusters
Guava Juice
EeOneGuy
VICE
Aayu and Pihu Show
Danny Fitt
Bispo Bruno Leonardo
DeToxoMoroxo
Doggy Doggy Cartoons
deepesh zo
Like Nastya IDN
Gato Galactico | GAL
Salman Noman
CoryxKenshin
With Kids[
Travis Scott
Tu COSMOPOLIS
Ivana Alawi
Werever2morro
IDEAS EN 5 MINUTOS
NMF News
SriBalajiMovies
Lahari Music - TSeries
Younes Zarou
Jordan Matter

FailArmy
BBC News Hindi
FunFun Toy Doll TV
Sandra Cires Art
Kaykai Salaider
UFC - Ultimate Fighting Championship
Ch7HD
RCTI - LAYAR DRAMA INDONESIA
Alfredo Larin
GMMTV OFFICIAL
Matt Stonie
Boyce Avenue
Camila Cabello
Little Mix
SAM SMITH
Pitbull
Bollywood Classics
Technoblade
W2S
Jennifer Lopez
Kids Play
T3ddy
JJ Olatunji
POPS Kids
Thairath Online
LEGO
XO TEAM
AdMe
ExtraPolinesios
Dyland PROS
Live
Vlad and Niki ARA
Canal IN
TWICE
Daily Dose Of Internet
FitDance
Panda Shorts
Disney Junior
La Rosa de Guadalupe
sagar kalra (Shorts)
wifistudy
Antrax
Enes Batur
Totoy kids - Espa

DopeLyrics
jeffreestar
Lyna
MK MUSIC
Unspeakable
Camilo
Dear Sir
Narendra Modi
Arif muhammad
Rotten Tomatoes Trailers
Volga Video
DM - Desi Melodies
MY FAMILY
Team Films Bhojpuri
Zee Music Classic
Prime Video India
Caeli YT
Kuplinov
Linus Tech Tips
Juliana Baltar
5-Minute Crafts FAMILY
Blippi Espa
Super Senya
Katakit Baby TV
Infobells Bangla

Henrique e Juliano
Mr DegrEE
Kashvi Adlakha
Talking Tom & Friends
   5
Harsh Beniwal
FFUNTV
Mobile Legends: Bang Bang
Roman Atwood Vlogs
Mrwhosetheboss
Genierock
zayn
Kerajinan 5-Menit
FC Barcelona
Dave and Ava - Nursery Rhymes and Baby Songs
LOKESH GAMER
ILYA BORZOV
Mazhavil Manorama
Pok
The MriDul
Niana Guerrero
SRK MUSIC
Sony LIV
T-Series Hamaar Bhojpuri
Oyuncak Av
CNN
NDTV India
It's Mamix
Kim Loaiza
Daftar Populer
Musas
Ranz Kyle
PowerfulJRE
Mariale
Makiman131
Hongyu ASMR
Mohamed Ramadan I
EdisonPts
BIGBANG
Rub
ABS-CBN News
Chapitosiki
AdeleVEVO
MoreAliA
Chetan Monga Vlogs
Little Angel - M
League of Legends
TheRichest
XpressTV
PlayStation
Kwebbelkop
Republic Bharat
THE BROWN SIBLINGS
Sony Music South
BigSchool
Ray William Johnson
KOMPASTV
ISSEI /
Z
A2 Motivation by Arvind Arora
50 Cent
MNCTV OFFICIAL
ERB
melanie martinez
iTownGamePlay *Terror&Diversi
8 : Thai Ch8
ZutiGang

TazerCraft
Bayashi TV
Fueled By Ramen
CrashCourse
MattyBRaps
Lachlan

Meghan Trainor
Jorge & Mateus Oficial
Major Lazer Official
Beast Philanthropy
Filaretiki
5-Minute Crafts Recycle

Maha Fun Tv
Canal Nostalgia
The Slow Mo Guys
StudyIQ IAS
Chad Wild Clay
CollegeHumor
Netflix Jr.
Colors Rishtey
ABC News
Camila Loures
Doc Tops
Auron
Jesser
Planeta das G
PrestonPlayz
Martin Garrix
O Reino Infantil
Fifth Harmony
Mis Pastelitos
Noman Official
LEGENDA FUNK
Like Nastya Stories
les boys tv2
Lotus Music
IDEIAS INCR
Reaction Time
BBC News
Eli Kids - Cartoons & Songs
Boram Tube ToysReview [
Aadishakti Films
Telemundo
GMM25Thailand
TV9 Bharatvarsh
Maroon5VEVO
Saad Lamjarred |
Hear This Music
Lilly Singh

Gyan Gaming
Drawblogs
NOBRU
  I
Cyprien
Rclbeauty101
Coke Studio
Indore Physical Academy
Rosanna Pansino
Harry Styles
Vlad and Niki PRT
RS 1313 SHORTS
Zig & Sharko
SelenaGomezVEVO
ZEE5
Super Polina
Rebecca Zamolo
Wish 107.5
Invento na Hora
SIS vs BRO
NikkieTutorials
TommyInnit
E-MasterSensei
infobells - Kannada
Crazy Frog
The Dodo
SEVENGERS
Zee Bangla
DangMattSmith
Neha Kakkar
#Refugio Mental

Trap City
Supercar Blondie
Yudist Ardhana
Lana Del Rey
MalumaVEVO
F2Freestylers - Ultimate Soccer Skills Channel
Bie The Ska
AM3NlC
Narins Beauty
TV Ana Emilia

Luli Pamp
Gallina Pintadita
ViralHog
ETV Jabardasth
Zee Telugu
Crescendo com Luluca
Jazzghost
karameeshchannel
Darkar Company Studios
Dental Digest
T-Series Regional
ADEL et SAMI
Jamuna TV
Atlantic Records

Veritasium
Alexa Rivera
Airrack
Hacksmith Industries
JD Pantoja
/Atro
123 GO! Spanish
Geo News
Kids TV India Hindi Nursery Rhymes
Think Music India
O Que N
Goldmines Premiere
MAIKI021
The Vishal bhatt
NishaMadhulika
MyMissAnand
FAPTV
Wesley Safad
infobells
Desi Gamers
Acenix
Zeinab Harake
DALLMYD
Lindsey Stirling
JOJO TV - Hindi Stories
BBC
Saturday Night Live
BUDI01 GAMING
Typical Gamer
Anaysa
JULIA GISELLA
Awakening Music
Lady Diana
Sanjoy Das Official
Woody & Kleiny
Vijay Kumar Viner Vlogs
Conor Maynard
Wengie
Vlad y Niki Show
Codiscos
The World Adventures
Vibhu 96
Blockbuster Movies
ATHLEAN-X
My Mate Nate
H2ODelirious
GMA Integrated News
Peet Montzingo
The Q
Trakin Tech
theRadBrad
Matt Steffanina
Stray Kids
Kurt Hugo Schneider
Vogue

Kids Line
VexTrex
penguinz0
Just For Laughs Gags
Kabita's Kitchen
BanderitaX
AzzyLand
HUBA
BIBO
Brawl Stars
Ei Nerd
Sonotek Bhakti
Vilmei
MC Divertida
The Infographics Show
jbalvinVEVO
TwinsFromRussia
Technology Gyan
CookingShooking Hindi
Ryan Trahan
Alex Gonzaga Official
WiederDude
Ian Boggs
Lokdhun Punjabi
Knowledge Tv
Painzeiro
Peppa Pig em Portugu
 Ms Yeah
Hungria Hip Hop
RaptorGamer
RedeTV
twenty one pilots
DJ Khaled
Davie504
Everson Zoio
Calon Sarjana
Lofi Girl
Jomy Production
GH'S
JesseAndMike
Wolfoo Channel
Susy Mouriz
7 Minutoz
The LaBrant Fam
Pastor Ant
Matheus Yurley
gymvirtual
BIBO
Top Viral Talent
Akon
AlArabiya
Rauw Alejandro
EnriqueIglesiasVEVO

The Shiny Peanut
Talking Angela
Melon City Show -
Duo Tiempo De Sol
Troom Troom India
MrSuicideSheep
Adam W
Right to Shiksha
Beyonc
FACT FIRE KING
Ian Lucas
Franco Escamilla
Adexe & Nau
Diana and Roma IND
Jass Records
Future
YoungBoy Never Broke Again
Blossom
#Ref
Piuzinho
Heidi y Zidane
Go Ami Go!
Morgz
CaseyNeistat
SULGI
NickiMinajAtVEVO
Ellie Goulding
colinfurze
People Vs Food
Wolfoo Family
Ja Mill
Health Time
Yair17
Little Baby Bum en Espa
First We Feast
M
Bebefinn - Nursery Rhymes & Kids Songs
Troom Troom PT
Parafernalha
NDTV
elcarteldesantatv
Family Fitness
Zee Tamil
Flowers Comedy
Mundo Bita
Wave Music Bhakti
Troom Troom Indonesia
CKM
Quantum Tech HD
_vector_
DEV Ke Facts
Hero Movies 2023
LOUD
Gibby :)
Gustavo Par
SAAIHALILINTAR
Timba Vk
Heidi and Zidane HZHtube
Zee Kids
Pari's Lifestyle
DisneyChannelUK
MoniLina
bharatzkitchen HINDI
TKOR
ANNA KOVA
Avril Lavigne
Caylus
Migos ATL
Natan por A
Free Fire India Official
Panda
RobTopGames
Make Joke Of

In [44]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('dataset.csv', encoding='utf-8')

# Iterate over each column
for column in df.columns:
    # Check if the column contains string data type
    if df[column].dtype == 'object':
        # Clean non-ASCII values from string columns
        df[column] = df[column].apply(lambda x: ''.join([i if ord(i) < 128 else '' for i in str(x)]))

# Now your DataFrame should be cleaned, with only ASCII values in string columns

In [45]:
df.head(500)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,KIMPRO,17700000,1.920670e+10,nan,KIMPRO,1646,South Korea,KR,People,...,3200000.0,2017.0,Nov,11.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
496,497,Jane ASMR,17700000,7.387622e+09,nan,Jane ASMR,1888,South Korea,KR,People,...,NaN,2012.0,Nov,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
497,498,ArianaGrandeVevo,17700000,2.011554e+10,Music,ArianaGrandeVevo,178,United States,US,Music,...,NaN,2010.0,Oct,21.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
498,499,jaanvi patel,17700000,7.912733e+09,People & Blogs,jaanvi patel,512,India,IN,People,...,900000.0,2018.0,Jul,18.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
499,500,tanboy kun,17700000,3.647268e+09,People & Blogs,tanboy kun,739,Indonesia,ID,Entertainment,...,100000.0,2016.0,Oct,27.0,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327

In [46]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_data.csv', index=False)